.student-card {
  max-width: 300px;
  margin: 20px;
  transition: transform 0.3s;
}

.student-card:hover{
  transform: scale(1.2);
}

.student-image {
  height: 300px;;
}

.delete-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
