<div class="container-class">
  <div class="class-form-container">
    <div class="title-form">
      <h1>Register new Class</h1>
    </div>
    <div>
      <form [formGroup]="schoolClassForm" (ngSubmit)="addSchoolClass()" class="class-form">
        <mat-form-field>
          <mat-label>Class Name</mat-label>
          <input matInput formControlName="name"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Start Year</mat-label>
          <input matInput formControlName="startYear"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Class Level</mat-label>
          <input matInput formControlName="classLevel"/>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary">Save</button>
      </form>
    </div>
  </div>
</div>
