<div class="register-big-div">
  <mat-card class="register-form-container">
    <div>
      <div class="title-form">
        <h1>Register</h1>
      </div>
      <div>
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="register-form">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Parola</mat-label>
            <input matInput type="password" formControlName="pass"/>
          </mat-form-field>
          <button mat-raised-button type="submit" color="primary">Login</button>
        </form>
      </div>
    </div>
  </mat-card>
</div>
