<div class="container-header">
  <div class="header">

    <div class="title-logo">
      <h1>eCatalog</h1>
    </div>

    <div class="buttons">
      <div class="example-button-container">
        <button mat-fab color="warn" *ngIf="isUserLoggedIn()" routerLink="/home">
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <button *ngIf="isUserLoggedIn()" mat-button color="primary" routerLink="/login" (click)="logoutUser()">Logout
      </button>

      <button *ngIf="!isUserLoggedIn()" routerLink="/login" mat-button color="primary"> Login</button>

      <button *ngIf="!isUserLoggedIn()" routerLink="/register" mat-button color="primary"> register</button>

      <button *ngIf="isUserLoggedIn()" routerLink="/classes" mat-button color="primary"> Classes</button>

      <button *ngIf="isUserLoggedIn()" routerLink="/students" mat-button color="primary"> Our Students</button>

      <button *ngIf="isUserLoggedIn()" routerLink="/teachers" mat-button color="primary"> Our Teachers</button>

    </div>
  </div>
  <div>
  </div>
</div>
